{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div>Hi {{ user.username }}</div>
        <span>
            <a href="{% url 'logout' %}">logout</a>
        </span>
        <span>
            <a href="{% url 'project_index' %}">Project list</a>
        </span>
    {% else %}
        <div>You are not logged in</div>
        <span>
            <a href="{% url 'login' %}">Login</a>
        </span>
        <span>
            <a href="{% url 'signup' %}">Signup</a>
        </span>
    {% endif %}
{% endblock %}