{% extends 'base.html' %}
{% block title %}Project list{% endblock %}
{% block content-menu %}
    <div>This is content menu</div>
{% endblock %}
{% block content %}
    {% load static %}
    <a href="{% url 'create_project' %}">Add a project</a>
    <br>
    <ul>
        {% for project in projects %}
            <li>
                <div>{{ project.title }}</div>
                <div>
                    <img src="{{ project.image }}" alt="" style="width: 300px; height :300px">
                </div>
                <div>
                    <a href="{% url 'project_detail' project.pk %}">detail</a>
                </div>
                <div>{{ project.author.username }}</div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
